    Author: Eswar Lakshminarayanan

In [37]:
import numpy as np
import pandas as pd

In [2]:
%%time
df = pd.read_csv('/home/opc/extra_space/pre_processing11/last10.csv',header=0)

CPU times: user 2min 2s, sys: 9.7 s, total: 2min 12s
Wall time: 2min 12s

In [6]:
df.head(2)

,ClientMacAddr,just_date,Level,lat,lng,just_time
0,0,2018-04-01,"['L5', 'L5', 'L5', 'L5', 'L5', 'L5', 'L5']","[1.2906748, 1.2906748, 1.2906748, 1.2906748, 1...","[103.851654, 103.851654, 103.851654, 103.85165...","['14:03:33', '14:03:43', '14:03:43', '14:03:23..."
1,0,2018-04-02,"['L5', 'L5', 'L5', 'L5']","[1.290855, 1.2908567, 1.290855, 1.290855]","[103.85172, 103.85172, 103.85172, 103.85172]","['01:14:41', '01:04:18', '01:14:32', '01:14:26']"

### Calculate number of unique lat, lon points in each trajectory

In [8]:
counter = 0
def fn3(list_):
    global counter
    if counter%100000==0:
        counter+=1
        print(counter)
    return len(set(list_))

In [9]:
%%time
df["len_"] = df.lat.apply(lambda x: fn3(eval(x)))

1
CPU times: user 6min 58s, sys: 2.35 s, total: 7min
Wall time: 7min

###  Filter all the trajectories which have only one pair unique (lat,lon) points

In [15]:
df = df.loc[df.len_>1]

In [19]:
df.head(5)

,ClientMacAddr,just_date,Level,lat,lng,just_time,len_
1,0,2018-04-02,"['L5', 'L5', 'L5', 'L5']","[1.290855, 1.2908567, 1.290855, 1.290855]","[103.85172, 103.85172, 103.85172, 103.85172]","['01:14:41', '01:04:18', '01:14:32', '01:14:26']",2
3,0,2018-04-05,"['L5', 'L5', 'L5', 'L5', 'L5', 'L5', 'L5', 'L5...","[1.2906826, 1.2906826, 1.2906826, 1.290687, 1....","[103.85165, 103.85165, 103.85165, 103.85165, 1...","['23:16:57', '23:19:06', '23:15:49', '20:23:17...",10
4,0,2018-04-06,"['L5', 'L5', 'L5', 'L5', 'L5', 'L5', 'L5', 'L5...","[1.290692, 1.2906915, 1.290692, 1.290692, 1.29...","[103.85164, 103.85165, 103.85164, 103.85164, 1...","['00:07:27', '00:04:29', '00:08:02', '00:08:33...",3
5,0,2018-04-07,"['L5', 'L5', 'L5', 'L5', 'L5', 'L5', 'L5', 'L5...","[1.2907802, 1.2906795, 1.2907209, 1.2907996000...","[103.85171, 103.85165, 103.85169, 103.85171, 1...","['17:46:33', '03:48:33', '17:46:10', '17:48:31...",8
6,0,2018-04-09,"['L5', 'L5', 'L5', 'L5', 'L5', 'L5', 'L5', 'L5...","[1.2908536, 1.290855, 1.2908536, 1.2908536, 1....","[103.85172, 103.85172, 103.85172, 103.85172, 1...","['20:20:03', '20:21:41', '20:19:47', '20:19:53...",2