    Author: Eswar Lakshminarayanan

### Sort utility function

    - The function below let's us sort the latitide, longitude points based on the time at which they are recoreded

In [1]:
import pandas as pd
import glob
import pandas as pd

In [4]:
%%time
df = pd.read_csv("/home/opc/extra_space/pre_processing12/level1_data.csv")

CPU times: user 1min 8s, sys: 6.66 s, total: 1min 14s
Wall time: 2min 25s

In [5]:
df.shape

(9894093, 6)

In [12]:
df = df.head(100)

In [13]:
from datetime import datetime
def validate(date_text):
    try:
        temp = datetime.strptime(date_text, "%H:%M:%S.%f")
    except ValueError:
        temp = datetime.strptime(date_text, "%H:%M:%S")
    return temp

In [14]:
from ast import literal_eval
counter = 0
def fn(row):
    global counter
    counter+=1
    if counter%1000==0:
        print(counter)
    final_list =[]
    for level,lat,lng, justime in zip(eval(row["Level"]), eval(row['lat']), eval(row['lng']),eval( row['just_time'])):
        final_list.append((level,lat,lng, justime))
        
    if len(final_list)>1:
        final_list.sort(key=lambda tup: validate(tup[3])) 
    return final_list

In [20]:
%%time
ff=df[['Level', 'lat','lng','just_time']].apply(lambda x: fn(x),axis=1)

CPU times: user 2.47 s, sys: 22.7 ms, total: 2.49 s
Wall time: 2.49 s

In [23]:
df.head(1)

,ClientMacAddr,just_date,Level,lat,lng,just_time
0,0,2018-04-01,"['L5', 'L5', 'L5', 'L5', 'L5']","[1.2906748, 1.2906748, 1.2906748, 1.2906748, 1...","[103.851654, 103.851654, 103.851654, 103.85165...","['14:03:43', '14:03:33', '14:03:33', '14:03:43..."